
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 5px;
 
}


/******************************************
/* LAYOUT
/*******************************************/
.nav{
  width: 100%;
  color: whitesmoke;
  background: grey; 
  float: left;
}
label{
  padding: 10px 10px;
  font-weight: 800;
  font-size: 25px;
  font-style: italic;
}
ul li{
  display: inline-block;
}

.fa-light{
  width: 20px;
  height: 20px;
  color: red;
}

.main{
  width: 100%;
  height: 450px;
  padding: 50px 550px 50px 150px;
  background: linear-gradient(145deg, pink, pink, white);
  float: left;
}
h1{
  font-weight: 300;
  font-style: italic;
  
}

.inMain{
  background: rgb(0, 0, 0 );
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 140px;
  height: 180px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.bold{
  font-size: 30px;
  font-weight: 800;
}
.btn-1{
  background: black;
  color: white;
  text-decoration: none;
  font-size: 13px;
 
}
.btn{
  background: whitesmoke;
  text-decoration: none;
  font-size: 13px;
 
}

.second{
  width: 100%;
  height: 300px;
  padding: 10px 100px 50px 100px;
  background:  linear-gradient(145deg, white, pink, pink);
  float: left;
}

.smallSection{
  width: 30%;
  height: 290px;
  padding: 30px 30px 30px 30px;
  float: left;
}
.fa-brands{
  color: red;
  size: 15px;
  text-align: center;
}

/* third section */


.third{
  width: 100%;
  height: 330px;
  padding: 20px 30px 20px 110px;
  background: rgb(197, 247, 247);
  float: left;
}
.smallOne{
  width: 55%;
  height: 300px;
  padding: 15px 15px 15px 15px;
  float: left;
}
.smallTwo{
  width: 35%;
  height: 300px;
  padding: 15px 15px 15px 15px;
 
  float: left;
}
.fix{
  width: 85%;
  height: 100%;
}

/* beutician intro */

.intro{
  width: 100%;
  height: 350px;
  background-color: pink;
  float: left;
}

.jjff{
  width: 220px;
  height: 250px;
  
  
}
.dsx{
  width: 33.3333%;
  height: 350px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  float: left;
}

.smallAd{
  width: 100%;
  height: 250px;
  padding: 50px 130px 50px 130px;
  background: rgb(218, 216, 216);
  float: left;
}
.bbb{
  color: white;
  background: black;
  border: 5px solid black;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}



.last{
  width: 100%;
  height: 950px;
  font-weight: 400;
  padding: 20px 50px 20px 110px;
  text-align: center;
  background: rgb(213, 198, 214);
}

.book{
  width: 250px;
  height: 250px;
  padding: 5px;
 
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
