<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header class="navbar"> 
			<a href="#navbar">CLASSES</a>			
			<a href="#navbar">HIRE US</a>
			<a href="#navbar">LOGO</a>
			<a href="#navbar">DONATE</a>			
		</header>
		
		<main class="main">
			<h1>WHERE GRITE MEETS OPPURTUNITY</h1>
			<p>A level groun, Urban youth cultivate grite and resielence through mixed Martial Arts. They learned to apply these values of the mat in the persuit
				of their ambitions through our student trainer Certification and collegr acces programs.
			</p>
			<li><a href="#">Watch the Video</a></li>
			<br><br>
			<span> Big Background Image</span>
		</main>
		 
		<section class="first">
			<h2>WHY</h2>
			<p>
				Why you want to start is a Big question for them who are thinking about them. the answer is that if you start at a true time that is now 
				previlege to you . you will get skill . A skill that will help you to lend a job and get food on your table . the time is not waiting for 
				anyone time is just going and passing out . Now it all upto you to make time worthy that will help you in future. winners win and loosers loose now 
				it all is upto you how your mind is set. be on time and set your time as winner you will definetely win.
			</p>
		</section>

		<section id="second">
			<section class="gym">
				<img src="gun.png" alt="image" class="img1">
				<h3>Visit a GYM</h3>
				<P>
					 Take the first 10 minutes to get your body moving. Cardio machines are a great place to start. Try taking a walk, or light jog, on the
					 treadmill, or give the bike a spin. Whatever you choose, you should be working hard enough to get your heart rate up and break out in
					 a slight sweat before moving on.
				</P>
				<span class="span"><a href="#">SEE CLASSES</a></span>
			</section>
			<section class="visit">
				<img src="gun.png" alt="image" class="img2">
				<h3>HAVE US VISIT YOU</h3>
				<p>
					 Take the first 10 minutes to get your body moving. Cardio machines are a great place to start. Try taking a walk, or light jog, on the
					 treadmill, or give the bike a spin. Whatever you choose, you should be working hard enough to get your heart rate up and break out in
					 a slight sweat before moving on.
				</p>
				<span class="span"><a href="#">HIRE US</a></span>
			</section>

			
		</section>
		
		<section class="third">
				<h2>VOLUNTEER WITH LEVEL GROUND</h2>
				<p>
					 Yes, you can do gym and martial arts at the same time. Over time you will see how well they augment each other. For example, the strength
					 you develope from gym will help you with the explosiveness needed when performing jump and spinning kicks. Another benefit is the strength
					 gained will help prevent injuries.Yes, you can do gym and martial arts at the same time. Over time you will see how well they augment each
					 other. For example, the strength you develope from gym will help you with the explosiveness needed when performing jump and spinning
					 kicks. Another benefit is the strength gained will help prevent injuries.
				</p>
				<span class="span"><a href="#">VOLUNTEER</a></span>
		</section>

		<footer>
			<section>
				
					<span><a href="#">connect</a></span>
					<span><a href="#">connect</a></span>
					<span><a href="#">connect</a></span>
				
				<h5><a href="#"> SITE MAP</a></h5>
				
					<span>Classes</span>&emsp;
					<span>Hire Us</span>
				
				<h5><a href="#"> CONTRIBUTE</a></h5>
				
					<span>Give</span>&emsp;
					<span>Volunteer</span>
				
			</section>
			<section>

			</section >
			<section class="three">
				<h5>LEVEL GROUND MIXED MARTIAL ARTS</h5>
				<span>50 Malik Street, Floor 17 , Boston , MA, 02109-410-533-5510</span> 
				<h5>Muhammadasimkundi@gmail.com</h5>
			</section>
			<hr />
			<p>Level Ground mixed martial arts is a tax-exampt,501(c)3 Organization under the IRS.EIN 46-3915852.</p>
		</footer>


		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
